body {
  font-family: 'Open Sans', sans-serif;
/*    min-width: 920px;    */
  background: -webkit-radial-gradient(bottom left, ellipse cover, #7abcff 0%,#4096ee 100%);
}

#nav-bar {
  background: -webkit-linear-gradient(45deg, #1e5799 0%,#207cca 40%,#207cca 40%,#2989d8 64%,#7db9e8 100%);
  height: 50px;
  padding: 5px 5px 0px 5px;
  border: solid 1px darkblue;
  margin-bottom: 20px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
}

#nav-bar ul li {
  display: inline-block;
  margin-right: 50px;
}

#nav-bar-wrapper a {
  text-decoration: none;
  color: white;
}

#nav-bar a:hover {
  text-decoration: none;
  color: red;
}

#page {
  width: 90vw;
  height: 90vh;
  margin: auto;
}

#user {
  float: right;
  margin-top: -21px;
}

#user-logout {
  text-decoration: underline;
  color: gold;
}

#user-link {
  text-decoration: none;
  color: black;
}

#user a:hover {
  text-decoration: underline;
  color: red;
}

.data {
  padding: 0px 2% 0px 2%;
  background: #f2f2f2;
  height: 75%;
  border: solid 1px darkblue;
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.3);
}

/*#content {
  width: 100%;
  min-width: 10%;
  position: relative;
}*/

#new-ads {
  width: 60%;
  float: left;
  position: relative;
}

#help {
  height: 71.8%;
  padding: 1% 1% 1% 1%;
}

#special-ads {
  display: block;
  width: 30%;
  float: right;
  position: relative;
}

#footer {
  width: 90vw;
  margin: auto;
}

#login input {
  width: 200px;
  clear: both;
  margin-bottom: 1px;
}

#login button {
  margin-top: 10px;
}

#notice {
  background: -webkit-linear-gradient(45deg, #ff3019 0%,#cf0404 100%);
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.3);
  box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.3);
  color: rgba(10, 10, 10, 0.8);
}

#desc-input {
  width: 300px;
  height: 300px;
  resize: none;
}

#desc-text {
  vertical-align: top;
  text-align: left;
}

#ad-info {
  padding: 1% 0px 1% 0.5%;
  float: left;
}

#ad-data {
  width: 45%;
  padding: 0% 0% 1% 0.5%;
  float: left;
}

#ad-media {
  width: 50%;
  padding: 2.5% 0px 1% 0.5%;
  float: right;
}
